################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MachineLearning/bin/Debug
/MachineLearning/obj/Debug
